/* INDEX */

body{
  margin: 0%;
  min-height: 130vh;
  background-image: radial-gradient(
    circle 65vmin at center,
    rgb(93, 93, 212),
    rgb(230, 109, 230),
    rgb(255, 183, 195));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  border-bottom: 0.1px solid white;
}

.header .container{
  /* puts name, tile, and nav bar on same line */
  display: flex;
  /* vertically aligns name and tile with nav bar */
  align-items: center;
  /* puses name and title to the left and nav bar to the right*/
  justify-content: space-between;
  padding: 12px 24px;
}

.TLC h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  /* font-weight: bolder; */
  color: black;
  display: inline;
  
}

.TLC p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  color: white;
  display: inline;
  /* font-weight: bold; */
  margin-left: 8px;
}

.navBar ul {
  /* makes navigation links horizontal */
  display: flex;
  /* puts space between the links */
  gap: 20px;
  list-style-type: none;
  font-size: 14px;
}

.content h2 {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  font-weight: 520;
}

.content{
  max-width: 900px;
  margin: 40px auto;
  padding: 0 24px;
  font-size: larger;
}

.navBar a {
  /* removes underline */
  text-decoration: none;
  /* size of butto */
  padding: 6px 10px;
  background-color: transparent;
  color: black;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navBar a:hover {
  background-color: transparent;
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

footer {
  /* border-top: 0.1px solid rgb(247, 182, 182); */
  font-size: 0.85rem;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  }

/* ABOUT */

/* PROJECTS */

/* CONTACT */