/* h1, p{
            text-align: center;
        }
        /* CENTERING AN IMAGE */
/* img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        } */

.header {
  /* puts name, tile, and nav bar on same line */
  display: flex;
  /* vertically aligns name and tile with nav bar */
  align-items: center;
  /* puses name and title to the left and nav bar to the right*/
  justify-content: space-between;
  background-color: lightpink;
}
.TLC h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: bold;
  color: black;
  display: inline;
}
.TLC p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  color: darkslategray;
  display: inline;
  font-weight: bold;
}
.navBar ul {
  /* makes navigation links horizontal */
  display: flex;
  /* puts space between the links */
  gap: 20px;
  list-style-type: none;
  font-size: small;
}

.content h1 {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkslategray;
  text-align: center;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 5px;
}

.navBar a {
  /* removes underline */
  text-decoration: none;
  /* size of butto */
  padding: 4px 8px;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navBar a:hover {
  background-color: darkgray;
}
